<div class="page-header">
  <div class="pull-left">
    <a class="btn btn-primary" href="/hanuman/survey_templates"><span class="glyphicons glyphicons-chevron-left"></span>
      Back to Survey Templates
    </a>
  </div>
</div>

<div class="form-horizontal">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">New Survey Template</h3>
    </div>

    <div class="panel-body">
      {{survey-template-form surveyTemplate=surveyTemplate organizations=organizations}}
    </div>
  </div>
</div>