- content_for :title do
  New Answer Choice
- content_for :title_parent do
  Answer Choices
- content_for :title_icon do
  glyphicon-ok-sign
- content_for :title_actions do
  = render "actions", locals: {navbar_hanuman_answer_choices_new_answer_choice: "active"}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_answer_choices do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title New Answer Choice

  = render "form"
