- content_for :title do
  Edit Question
- content_for :title_parent do
  Questions
- content_for :title_icon do
  glyphicon-question-sign
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_questions do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Edit Question

  = render "form"
