- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_settings do
  active
- content_for :title do
  Edit Setting

.col-lg-6
  .panel
    .panel-heading
      %h3.panel-title Edit Setting

    = render "form"
