- content_for :title do
  System Setting Details
- content_for :navbar_main_settings do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_settings do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title System Setting Details

  %form.form-horizontal
    .panel-body
      .pull-right
        = link_to edit_setting_path(@setting), class: "btn btn-success" do
          %span.glyphicons.glyphicons-pencil
          Edit System Setting
      .clearfix
      .form-group
        %label.col-sm-2.control-label Key
        .col-sm-10
          %p.form-control-static= @setting.key
      .form-group
        %label.col-sm-2.control-label Value
        .col-sm-10
          %p.form-control-static= @setting.value
