- content_for :title do
  Setting Details
- content_for :title_parent do
  Settings
- content_for :title_icon do
  glyphicon-cog
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_settings do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Setting Details

  %form.form-horizontal
    .panel-body
      .pull-right
        = link_to edit_setting_path(@setting), class: "btn btn-primary" do
          %span.glyphicon.glyphicon-pencil
          Edit Setting
      .clearfix
      .form-group
        %label.col-sm-2.control-label Key
        .col-sm-10
          %p.form-control-static= @setting.key
      .form-group
        %label.col-sm-2.control-label Value
        .col-sm-10
          %p.form-control-static= @setting.value
