.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    %p
      - if o.question.calculated?
        = ff.check_box :answer, {class: 'form-control calculated-readonly', "data-default-answer": o.question.default_answer, onclick: "return false;", style: "cursor: not-allowed; opacity: 0.5" }, "true", "false"
      - else
        = ff.check_box :answer, {class: 'form-control', "data-default-answer": o.question.default_answer}, "true", "false"
    
