.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    = ff.number_field :answer, class: "form-control", readonly: o.question.calculated? || @survey_readonly, data: { "default-answer" => o.question.default_answer }, maxlength: 255, step: "1"
    
