.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    = ff.text_field :answer, class: "form-control datepicker", "data-parsley-dateformat"=> true, type: "text", maxlength: 255
    = ff.hidden_field :entry
