.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    - if ff.object.question.answer_choices.blank?
      .helperbelow
        There are no available answer choices. You can add answer choices to a question in the Form Layout page. Go to Project Setup, Forms Library, select your form, Form Layout tab and edit the Question.
        = ff.hidden_field :answer
    - else
      = select_tag "survey[observations_attributes][#{index}][answer_choice_ids][]",
                    option_groups_from_collection_for_select(ff.object.question.answer_choices.roots.sorted, :children, :formatted_answer_choice, :id, :formatted_answer_choice,
                    ff.object.observation_answers.map{|oa| oa.answer_choice_id}),
                    {multiple: true, size: 10, class: 'form-control'}
    
