.form-section{:"data-rule" => "#{ff.object.question.rule_hash}", :"data-question-id" => "#{ff.object.question.id}", :"data-ancestor" => ff.object.question.ancestry}
  = ff.object.question.question_text
  = ff.hidden_field :entry
