.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    = ff.text_field :answer, class: "typeahead form-control", :"data-question-id" => ff.object.question_id, maxlength: 255
    = ff.hidden_field :answer_choice_id
    = ff.hidden_field :entry
