.form-group
  = render "hanuman/surveys/fields/shared/label", ff: ff
  .col-sm-7
    = ff.text_field :answer, class: "typeahead form-control", :"data-question-id" => ff.object.survey_question.question_id
    = ff.hidden_field :group