- content_for :navbar_hanuman_projects do
  active

.page-header
  = link_to edit_project_path(@project), class: "btn btn-primary" do
    %span.glyphicon.glyphicon-pencil
    Edit Project
  %h1 Project Details

.table-responsive
  %table.table.table-striped.table-hover
    %tbody
      %tr
        %td Name
        %td
          %b= @project.name
      %tr
        %td Organization
        %td
          %b= @project.organization
      %tr
        %td Status
        %td
          %b= @project.status
