.col-sm-1
  - if ff.object.question.helper_text.present?
    - if ff.object.question.calculated?
      %span.glyphicons.glyphicons-calculator.question-helper-tooltip{:title => "#{ff.object.question.helper_text}", :data => {:toggle => "tooltip", :placement => "bottom"}}

    - else
      %span.glyphicons.glyphicons-info-sign.question-helper-tooltip{:title => "#{ff.object.question.helper_text}", :data => {:toggle => "tooltip", :placement => "bottom"}}

  - elsif ff.object.question.calculated?
    %span.glyphicons.glyphicons-calculator.question-helper-tooltip{:title => "This answer cannot be modified because it is automatically calculated.", :data => {:toggle => "tooltip", :placement => "bottom"}}

= ff.label :answer, ff.object.question.question_text, class: "col-sm-4 control-label", id: ff.object.anchor_slug
