.col-sm-1
  - if ff.object.question.helper_text.present?
    %span.glyphicons.glyphicons-info-sign.question-helper-tooltip{:title => "#{ff.object.question.helper_text}", :data => {:toggle => "tooltip", :placement => "bottom"}}
= ff.label :answer, ff.object.question.question_text, class: "col-sm-4 control-label"
