.form-group
  = render "hanuman/shared/shared_field_label", ff: ff, index: index
  .col-sm-7    
    - if ff.object.survey_question.question.answer_choices.blank?
      = ff.text_field :answer, value: "There are no available Answer Options!", class: "form-control", readonly: true
    - else
      = ff.collection_select :answer, ff.object.survey_question.question.answer_choices, :option_text, :option_text,
                             {prompt: false}, {class: 'chosen-select form-control'}