- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_answer_types do
  active
- content_for :title do
  Edit Answer Type

.panel
  .panel-heading
    %h3.panel-title Edit Answer Type

  = render "form"
