- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_answer_types do
  active
- content_for :title do
  Answer Types

.panel
  .panel-title
    -# Answer Types
    = link_to new_answer_type_path, class: "btn btn-primary" do
      %span.glyphicon.glyphicon-plus
      New Answer Type
  .panel-body
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Name
            %th Status
            %th

        %tbody
          - @answer_types.each do |answer_type|
            %tr
              %td= link_to answer_type.name, answer_type
              %td= link_to answer_type.status, answer_type
              %td
                = link_to answer_type, data: {confirm: "Are you sure you want to delete this Answer Type?"}, method: :delete do
                  %span.glyphicon.glyphicon-trash
