.ember-view.object-form{
  .form-field{
    &.error{
      input.form-control, select.form-control{
        background: #fff6f6;
        border-color: #e0b4b4;
      }
      .help-block{
        position: relative;
        right: 3px;
        bottom: 21px;
        margin-bottom: -16px;
        text-align: right;
        color: rgba(248, 121, 97, 0.73);
        font-size: 11px;
      }
      &.answerType {
        .help-block{
          right: 15px;
          bottom: 23px;
        }
      }
    }
  }
}

select.form-control{
  height: 35px;
}
