<h1>Admin#index</h1>

<script type="text/x-handlebars">
  <h2>Ember in the house!</h2>

  {{outlet}}
</script>

<script type="text/x-handlebars" id="index">
  <h2>in index route</h2>
  <ul>
  {{#each item in model}}
    <li>{{item}}</li>
  {{/each}}
  </ul>
</script>
