- if current_user.superuser?
  %li{:class => "#{locals[:navbar_hanuman_survey_templates_new_survey_template]}"}
    = link_to new_survey_template_path do
      %i.glyphicons.glyphicons-plus
      %span.menu-title
        New Survey Template
