- content_for :title do
  Edit Survey Template
- content_for :title_parent do
  Design a Survey
- content_for :title_icon do
  glyphicon-edit
- content_for :title_actions do
  = render "actions", locals: {}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Edit Survey Template

  = render "form"
