- content_for :title do
  Edit Survey Form
- content_for :navbar_sub_data do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title
      Admin /
      = link_to "Survey Forms", hanuman_project_survey_templates_path(@project)
      \/
      = link_to "Edit Survey Form", edit_hanuman_project_survey_template_path(@project, params[:id])
  .tab-base.tab-stacked-top
    %ul.nav.nav-tabs
      %li
        %a{:href => "/hanuman/admin/survey_templates/#{@survey_template.id}/edit"} Survey Layout
      %li.active
        %a Survey Details
    .tab-content
      = render "form"
