- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active
- content_for :title do
  Edit Survey Template

.panel
  .panel-heading
    %h3.panel-title Edit Survey Template

  = render "form"
