- content_for :title do
  Edit Survey Form
- content_for :navbar_sub_data do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title Edit Survey Form
  .tab-base.tab-stacked-left
    %ul.nav.nav-tabs
      %li
        %a{:href => "/hanuman/admin/survey_templates/#{@survey_template.id}/edit"} Survey Layout
      %li.active
        %a Survey Details
    .tab-content
      = render "form"
