- content_for :title do
  New Survey
= content_for :navbar_sub_data do
  active
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active
- content_for :helper_list do
  = render "hanuman/survey_templates/helper_list"

.panel.panel-info
  .panel-heading
    %h3.panel-title New Survey

  = render "form"
