- content_for :title do
  New Survey Template
- content_for :title_parent do
  Design a Survey
- content_for :title_icon do
  glyphicon-edit
- content_for :title_actions do
  = render "actions", locals: {navbar_hanuman_survey_templates_new_survey_template: "active"}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title New Survey Template

  = render "form"
