- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active
- content_for :title do
  New Survey Template

.page-header
  %h1 New Survey Template

= render "form"
