- content_for :title do
  New Survey
- content_for :title_parent do
  Design a Survey
- content_for :title_icon do
  glyphicons-edit
- content_for :title_actions do
  = render "actions", locals: {navbar_hanuman_survey_templates_context: "New Survey"}
- content_for :navbar_hanuman do
  active
- content_for :navbar_hanuman_survey_templates do
  active

.panel.panel-info
  .panel-heading
    %h3.panel-title New Survey

  = render "form"
