/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.question-border {
  border: 1px dashed grey;
  padding: 10px;
}

.ui-sortable { list-style-type: none; margin: 0; padding: 0; }