/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require typeahead/typeahead
 *= require chosen/chosen
 *= require_tree .
 */

.page-header input.btn {
  float: right;
}

.page-header select.form-control {
  float: right;
  width: auto;
  margin-right: 5px;
}

.page-header label {
  float: right;
  margin-top: 6px;
  margin-right: 5px;
  text-transform: capitalize;
}