.question-border {
  border: 1px dashed #AAA;
  padding: 9px 10px;
  margin-bottom: 2px;
  background-color: #FFF;
}

.question-border-add-row {
  background-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
}

.ui-sortable { list-style-type: none; margin: 0; padding: 0; }

.delete-confirm {
  display: none;
  position: absolute;
  top: -2px;
  right: 18px;
  color: #000;
  padding: 10px 10px;
  text-align: center;
  width: 240px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0 5px 10px #777;
  z-index: 1;
}

.ember-view > .container {
  margin: 0;
  padding: 0;
  width: inherit;
}

li > .ember-view > .nested-edit-row-header {
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.admin-tiny-row-space {
  height: 5px;
}

#old-ie-version{
  a{
    color: #BAD3EB;
  }
}

.modal-warning {
  display: none;
  position: fixed;
  top: 50%;
  // right: 18px;
  color: #000;
  padding: 10px 10px;
  text-align: center;
  width: 93%;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0 5px 10px #777;
  z-index: 1;
  font-size: 14px;
}
