.hanuman-hero {
  background: url(image_path('hanuman/young-hanuman-by-samgaussianblur.jpg')) top;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  right: 0px;
}