.form-group
  = render "shared_field_label", ff: ff, index: index
  .col-sm-10
    - if ff.object.survey_question.question.answer_choices.blank?
      = ff.text_field :answer, value: "There are no available Answer Options!", class: "form-control", readonly: true
    - else
      = ff.collection_radio_buttons :answer, ff.object.survey_question.question.answer_choices, :option_text, :option_text