= ff.collection_select :answer, ff.object.survey_question.question.answer_choices, :option_text, :option_text, {prompt: false},
                       {class: 'chosen-multiselect form-control', multiple: 'multiple', size: 10, :'data-placeholder' => 'Please select'}