- if ff.object.survey_question.question.answer_choices.blank?
  = ff.text_field :answer, value: "There are no available Answer Options!", class: "form-control", readonly: true
- else
  = ff.collection_check_boxes :answer, ff.object.survey_question.question.answer_choices, :option_text, :option_text