- if ff.object.survey_question.question.answer_choices.blank?
  = ff.text_field :answer, value: "There are no available Answer Options!", class: "form-control", readonly: true
- else
  -#- ff.object.survey_question.question.answer_choices.each do |ao|
  -#  = check_box_tag :answer_ids, ao.id, @survey.observations.include?(ao), name: "survey[answer_ids][]"
  -#  = label_tag :answer_ids, ao.option_text
  -#  %br/

  = ff.collection_check_boxes :answer, ff.object.survey_question.question.answer_choices, :option_text, :option_text