.form-container-entry-item
  .form-group
    = f.label :survey_date, "Survey Date", class: "col-sm-5 control-label"
    .col-sm-7
      = f.text_field :survey_date, class: "form-control", type: "date"
