- content_for :navbar_surveys do
  active

.page-header
  = link_to new_survey_path, class: "btn btn-primary" do
    %span.glyphicon.glyphicon-plus
    New Survey
  %h1 Surveys

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Survey Template
        %th Project
        %th

    %tbody
      - @surveys.each do |survey|
        %tr
          %td= link_to survey.survey_template, survey
          %td= link_to survey.project, survey
          %td
            = link_to survey, data: {confirm: "Are you sure you want to delete this Survey?"}, method: :delete do
              %span.glyphicon.glyphicon-trash
