<div class="row">
  <div class="col-md-4"><h4 data-test="answer-choices-label">Answer Choices</h4></div>
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>OptionText</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each question.answerChoices as |answerChoice|}}
            {{answer-choice-row question=question save='saveAnswerChoice' answerChoice=answerChoice isNewAnswerChoice=false}}
          {{/each}}
          {{answer-choice-row question=question save='saveAnswerChoice' isNewAnswerChoice=true}}
        </tbody>
      </table>
    </div>
  </div>
</div>