.form-group
  = render "hanuman/surveys/_form/shared/label", ff: ff, index: index
  .col-sm-7
    = ff.text_field :answer, class: "typeahead form-control", :"data-answer-choices" => Hanuman::Question.find(ff.object.survey_question.question.id).typeahead_answer_choices_list_string