.question-modal{
	&.ember-remodal{
		padding: 5px;
	}
	.panel{
		margin-bottom: 0px;
	}
	.selectize-control{
		text-align: left;
	}
	.tabbable.tabs-below{
		margin-top: -18px;
	}
	.glossary-popover {
	   max-width: 700px;
	   overflow-y: scroll;
		 height: 400px;
	}
	.sortable-objects .answer-draggable-handle {
		cursor: move;
	}
}
