.progress-bar {
  margin-top: 35px;
}

.header-selected {
  text-rendering: optimizeLegibility;
  background-color: #5a87cf;
  height: 60px;
  color: #fff;
  padding: 12px;
  margin-bottom: 12px;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 64%;
  border-radius: 0px 0px 4px 4px;

  .selected-questions-controls-status {
    height: 34px;
    background-color: #4c76b8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: open-sans,EmojiFontFace,helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    width: 255px;
    padding: 0 5px 0 5px;
    float: left;
    a {
      margin-left: 5px;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #ddd;
      }
    }
    .label-warning {
      margin-right: -3px;
    }
  }

  .selected-questions-actions {
    float: right;
    display: flex;
    align-items: center;
    max-width: 240px;

    button {
      border: none;
      color: #fff;
      height: 30px;
      margin-top: 3px;
      background-color: #5a87cf;

      outline: none;
      cursor: pointer;
      font-size: 12px;
      font-weight: 300;

      &:hover {
        background-color: #4977b9;
      }
    }
  }
}
