.li-question {
  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
  &.animated {
    -vendor-animation-duration: 3s;
  }

  &:hover {
    background-color: #e8e8e8;
  }
  &.is-dragging {
    background-color: white;
    z-index: 9999999999;
  }

  &.dragging-coming-active {
    background-color: #466873;
    color: white;
    .draggable-target-message {
      display: inline;
    }
  }
  &.dragging-coming-active.dragging-over {
    background-color: #b9b508 !important;
    .draggable-target-message {
      background-color: #b15959 !important;
    }
  }
  .gly-spin.glyphicons-refresh {
    margin-right: 10px;
  }
  .draggable-target-message {
    display: none;
    left: 50%;
    margin-top: -11px;
    background-color: #a53a3a;
    padding: 5px;
    border-radius: 0px 0px 3px 3px;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
  }

  &.has-ancestry-1 {
    margin-left: 10px;
  }
  &.has-ancestry-2 {
    margin-left: 25px;
  }
  &.has-ancestry-3 {
    margin-left: 35px;
  }
  .glyphicons-sorting,
  .glyphicons-move-square {
    font-size: 14px;
    margin-right: 15px;
    padding-top: 5px;
    cursor: move;
    &:hover {
      color: #afa9aa;
    }
  }
  .delete-confirm {
    top: -50px !important;
  }
}
