.question-modal {
  &.ember-remodal {
    padding: 5px;
  }
  .panel {
    margin-bottom: 0px;
  }
  .selectize-control {
    text-align: left;
  }
  .tabbable.tabs-below {
    margin-top: -18px;
  }
  .glossary-popover {
    max-width: 700px;
    overflow-y: scroll;
    height: 400px;
  }
  .sortable-objects .answer-draggable-handle {
    cursor: move;
  }
  section.super-user {
    background-color: rgba(226, 226, 226, 0.36);
    padding: 10px;
    margin-bottom: -5px;
    margin-top: -20px;
  }
}
