.form-group
  = render "hanuman/surveys/fields/readonly/shared/label", o: o
  .col-sm-7
    - o.observation_photos.each do |p|
      = link_to cl_image_tag(p.photo, :crop => :fill, :width => 350), cloudinary_url(p.photo), html_options = {class: "gallery-item gallery-photo", id: "photo_" + p.id.to_s, :"data-content-type" => p.photo.resource_type, :"data-download-url" => cloudinary_url(p.photo), :"data-file-name" => p.photo.public_id}
      %br
      %br
      = link_to p.photo.my_public_id + "." + p.photo.format + " | download file", cloudinary_url(p.photo, attachment: true), html_options = { download: true }
      %br
      %br
      %br
