<div class="form-group bg-success">
  <label class="col-sm-5 control-label">{{questionText}}</label>
  <div class="col-sm-7">
    <p class="form-control-static">
      {{answer}}
      {{#if observation_answers}}
        {{#each observation_answers}}
          {{answer_choice_text}}
        {{/each}}
      {{/if}}
    </p>
  </div>
</div>
