<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <button class="btn btn-xs btn-primary" type="button" data-toggle="collapse" data-target="collapse_{{group}}">
        Entry No.
        {{group}}
      </button>
    </h4>
  </div>
  <div class="panel-collapse collapse in" id="collapse_{{group}}"
    <div class="panel-body bg-success">
    </div>
  </div>
</div>
