<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Survey Template</h3>
  </div>

  <div class="panel-body">
    {{survey-template-form surveyTemplate=surveyTemplate organizations=organizations}}
  </div>
</div>
